.container {
    padding-right: 8px;
    padding-left: 8px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (min-width: 576px) {
    .container {
        width: 560px;
        max-width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        width: 752px;
        max-width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 976px;
        max-width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1184px;
        max-width: 100%;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

[class^="col-"] {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}

.col-xs-1 {flex-basis: 8.3333%;}
.col-xs-2 {flex-basis: 16.6666%;}
.col-xs-3 {flex-basis: 25%;}
.col-xs-4 {flex-basis: 33.3333%;}
.col-xs-5 {flex-basis: 41.6665%;}
.col-xs-6 {flex-basis: 50%;}
.col-xs-7 {flex-basis: 58.3331%;}
.col-xs-8 {flex-basis: 66.6664%;}
.col-xs-9 {flex-basis: 75%;}
.col-xs-10 {flex-basis: 83.3333%;}
.col-xs-11 {flex-basis: 91.6663%;}
.col-xs-12 {flex-basis: 100%;}

@media only screen and (min-width: 576px) {
    .col-sm-1 {flex-basis: 8.3333%;}
    .col-sm-2 {flex-basis: 16.6666%;}
    .col-sm-3 {flex-basis: 25%;}
    .col-sm-4 {flex-basis: 33.3333%;}
    .col-sm-5 {flex-basis: 41.6665%;}
    .col-sm-6 {flex-basis: 50%;}
    .col-sm-7 {flex-basis: 58.3331%;}
    .col-sm-8 {flex-basis: 66.6664%;}
    .col-sm-9 {flex-basis: 75%;}
    .col-sm-10 {flex-basis: 83.3333%;}
    .col-sm-11 {flex-basis: 91.6663%;}
    .col-sm-12 {flex-basis: 100%;}

@media only screen and (min-width: 768px) {
    .col-md-1 {flex-basis: 8.3333%;}
    .col-md-2 {flex-basis: 16.6666%;}
    .col-md-3 {flex-basis: 25%;}
    .col-md-4 {flex-basis: 33.3333%;}
    .col-md-5 {flex-basis: 41.6665%;}
    .col-md-6 {flex-basis: 50%;}
    .col-md-7 {flex-basis: 58.3331%;}
    .col-md-8 {flex-basis: 66.6664%;}
    .col-md-9 {flex-basis: 75%;}
    .col-md-10 {flex-basis: 83.3333%;}
    .col-md-11 {flex-basis: 91.6663%;}
    .col-md-12 {flex-basis: 100%;}

@media only screen and (min-width: 992px) {
    .col-lg-1 {flex-basis: 8.3333%;}
    .col-lg-2 {flex-basis: 16.6666%;}
    .col-lg-3 {flex-basis: 25%;}
    .col-lg-4 {flex-basis: 33.3333%;}
    .col-lg-5 {flex-basis: 41.6665%;}
    .col-lg-6 {flex-basis: 50%;}
    .col-lg-7 {flex-basis: 58.3331%;}
    .col-lg-8 {flex-basis: 66.6664%;}
    .col-lg-9 {flex-basis: 75%;}
    .col-lg-10 {flex-basis: 83.3333%;}
    .col-lg-11 {flex-basis: 91.6663%;}
    .col-lg-12 {flex-basis: 100%;}

@media only screen and (min-width: 1200px) {
    .col-xl-1 {flex-basis: 8.3333%;}
    .col-xl-2 {flex-basis: 16.6666%;}
    .col-xl-3 {flex-basis: 25%;}
    .col-xl-4 {flex-basis: 33.3333%;}
    .col-xl-5 {flex-basis: 41.6665%;}
    .col-xl-6 {flex-basis: 50%;}
    .col-xl-7 {flex-basis: 58.3331%;}
    .col-xl-8 {flex-basis: 66.6664%;}
    .col-xl-9 {flex-basis: 75%;}
    .col-xl-10 {flex-basis: 83.3333%;}
    .col-xl-11 {flex-basis: 91.6663%;}
    .col-xl-12 {flex-basis: 100%;}