@custom-media --sm-viewport (min-width: 768px);
@custom-media --md-viewport (min-width: 992px);
@custom-media --lg-viewport (min-width: 1120px);

:root {
  --font: "Roboto", sans-serif;
  --textColor: rgb(29, 29, 29);
  --secondaryColor: rgb(98, 98, 98);
  --bgColor: rgb(242, 242, 242);
  --footerColor: rgb(38, 38, 38);
}

html {
  font-size: 16px;
  font-family: var(--font);
  background-color: var(--bgColor);
}

/* header */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 16px 0;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.logo {
  display: flex;
  justify-content: flex-start;
  padding-top: 15px;
}

.logo-img {
  width: 115px;
  height: 12px;
  align-self: center;
}

.account {
  display: flex;
  justify-content: flex-end;
}

.order-time {
  width: 65px;
  height: 40px;

  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: rgb(29, 29, 29);
  background-color: rgb(255, 255, 255);
  text-align: center;

  border: 1px solid rgb(224, 224, 224);
  border-radius: 2px;
  cursor: pointer;
}

.order-time:hover,
.order-time:focus {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(29, 29, 29, 0.6);
  border-color: rgba(224, 224, 224, 0.6);
}

@media only screen and (--sm-viewport) {
  .order-time {
    width: 57px;
    font-size: 16px;
  }
}

@media only screen and (--md-viewport) {
  .order-time {
    width: 65px;
  }
}

.order-time-label {
  font-family: inherit;
  font-size: 11px;
  line-height: 13px;
  color: var(--secondaryColor);
}

.order span {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: var(--secondaryColor);

  margin-right: 9px;
  margin-left: 9px;
}

@media only screen and (--md-viewport) {
  .order span {
    font-size: 16px;
    line-height: 19px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.order-dest {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;

  border: 1px solid #e0e0e0;
  border-radius: 2px;

  background-image: url("../../assets/img/icons/location.svg");
  background-repeat: no-repeat;
  background-position: 12px 12px;
  text-indent: 36px;

  font-family: var(--font);
  font-size: 13px;
  line-height: 24px;
  color: var(--textColor);
}

@media only screen and (--sm-viewport) {
  .order-dest {
    width: 215px;
  }
}

@media only screen and (--md-viewport) {
  .order-dest {
    width: 292px;
    font-size: 16px;
  }
}

.account {
  display: flex;
  align-items: center;
}

.sign-in,
.register {
  cursor: pointer;
  width: 72px;
  height: 40px;
  border-radius: 2px;

  font-family: var(--font);
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;

  padding-top: 8px;
  padding-bottom: 8px;
}

.sign-in {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(224, 224, 224);
  color: var(--textColor);

  margin-right: 16px;
}

.sign-in:hover,
.sign-in:focus {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(224, 224, 224, 0.6);
  color: rgba(29, 29, 29, 0.6);
}

.register {
  background-color: var(--footerColor);
  border: none;
  color: rgb(255, 255, 255);
}

.register:hover,
.register:focus {
  background-color: rgba(38, 38, 38, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

@media only screen and (min-width: 576px) {
  .sign-in,
  .register {
    width: 80px;
  }
}

@media only screen and (--sm-viewport) {
  .register {
    margin-right: 27px;
  }
}

.cart-img {
  width: 19px;
  height: 22px;
  cursor: pointer;
}

/* main */

main {
  background-color: rgb(255, 255, 255);
  padding-top: 124px;
  padding-bottom: 80px;
}

main.restaurant-content {
  padding-top: 74px;
}

.restaurants {
  display: none;
  visibility: hidden;
}

.restaurants-search {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(117, 117, 117, 0.3);
  background-color: inherit;
  background-image: url("../../assets/img/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 1px 1px;
  text-indent: 24px;
  padding-bottom: 15px;
  margin-bottom: 24px;

  font-family: inherit;
  font-size: 13px;
  line-height: 24px;
  color: rgba(98, 98, 98, 0.5);
}

@media only screen and (--sm-viewport) {
  .restaurants-search {
    font-size: 16px;
    padding-bottom: 16px;
    text-indent: 30px;

    margin-bottom: 56px;
  }
}

.restaurants-title {
  font-family: inherit;
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
}

.restaurant-card {
  margin-bottom: 16px;
  text-decoration: none;
}

.restaurant-img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.restaurant-title {
  margin-top: 16px;
  margin-bottom: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: var(--textColor);
}

.restaurant-tags {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 21px;

  color: var(--secondaryColor);
}

.restaurant-duration {
  margin-top: 4px;
  margin-bottom: 20px;

  font-size: 13px;
  line-height: 21px;

  color: var(--textColor);
}

/* footer */

footer {
  position: relative;
  padding-top: 56px;
  padding-bottom: 40px;
  background-color: var(--footerColor);
}

.white-logo {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.white-logo-img {
  width: 192px;
  height: 20px;
}

hr {
  border: none;
  height: 1px;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.4);
}

.info {
  padding-top: 32px;
  padding-bottom: 48px;
}

.language-dropdown {
  width: 227px;
  background-color: #3b3b3b;
  color: #ffffff;
  font-family: var(--font);
  font-size: 13px;
  line-height: 15px;
  padding: 12px 0;
  text-indent: 48px;
  background-image: url("../../assets/img/icons/world.svg");
  background-repeat: no-repeat;
  background-position: 16px 12px;
}

@media only screen and (--sm-viewport) {
  .language-dropdown {
    width: 176px;
  }
}

.hashtag {
  color: #49a144;
  font-size: 16px;
  line-height: 19px;

  margin-top: 33px;
  margin-bottom: 17px;
}

.hashtag span {
  color: #ffffff;
}

.facebook-link,
.twitter-link,
.instagram-link {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.facebook-link {
  margin-right: 12px;
}

.twitter-link {
  margin-right: 8px;
}

.links:first-child {
  margin-top: 39px;
}

.links:last-child {
  margin-top: 23px;
}

@media only screen and (--sm-viewport) {
  .links:first-child {
    margin-top: 0px;
  }
  .links:last-child {
    margin-top: 0px;
  }
}

.links a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 23px;
}

.links a:last-child {
  margin-bottom: 0px;
}

.download-links {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

@media only screen and (--sm-viewport) {
  .download-links {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.app-store-icon {
  margin-right: 24.4px;
}

@media only screen and (--sm-viewport) {
  .app-store-icon {
    margin-right: 41.22px;
  }
}

.legal-info {
  padding-top: 40px;

  font-size: 11px;
  line-height: 13px;

  color: #ffffff;
}

.legal-links a {
  text-decoration: none;
  color: #ffffff;
}

.legal-links {
  margin-top: 24px;
}

@media only screen and (--sm-viewport) {
  .legal-links {
    margin-top: 0px;
  }
}

.scroll-to-top {
  cursor: pointer;
  border: none;
  position: fixed;
  bottom: 24px;
  right: 16px;

  width: 80px;
  height: 80px;
  background-color: #59bd5a;
  border-radius: 2px;

  display: none;
  justify-content: center;
  align-content: center;
}

.visible-animate {
  animation: fadein 1s;
}

/* spinner */

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1s;
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
