@custom-media --sm-viewport (min-width: 768px);
@custom-media --md-viewport (min-width: 992px);
@custom-media --lg-viewport (min-width: 1120px);

:root {
  --textColor: #1d1d1d;
  --secondaryColor: #626262;
  --cardBorderColor: rgba(117, 117, 117, 0.2);
  --cardBgHovered: rgba(117, 117, 117, 0.04);
  --bgColor: #f2f2f2;
  --footerColor: #262626;
}

/* restaurant menu */

.menu-title {
  margin-top: 112px;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 12px;
}

.menu-separator {
  background-color: #757575;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 43px;
}

/* snack card */

.snack {
  display: flex;
  color: var(--textColor);
  background-color: inherit;
  border-bottom: 1px solid var(--cardBorderColor);
  border-radius: 2px;
  margin-bottom: 16px;
  cursor: pointer;
}

.snack:hover,
.snack:focus {
  background-color: var(--cardBgHovered);
}

@media only screen and (--sm-viewport) {
  .snack {
    border: 1px solid var(--cardBorderColor);
  }
}

@media only screen and (--md-viewport) {
  .snack {
    margin-bottom: 32px;
  }
}

.snack-details {
  display: flex;
  flex: 1;
  min-width: 0;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 16px;
  padding-bottom: 14px;
}

@media only screen and (--sm-viewport) {
  .snack-details {
    padding-top: 16px;
    padding-left: 16px;
  }
}

.snack-title,
.snack-title-details {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.snack-title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.snack-title-details {
  font-size: 13px;
  line-height: 21px;
  color: var(--secondaryColor);
}

.snack-price {
  margin: 0px;
  font-size: 15px;
  line-height: 21px;
  font-weight: 500;
  color: var(--textColor);
}

.snack-img {
  display: block;
  width: 102px;
  height: 102px;
  object-fit: cover;
  object-position: center;
}

@media only screen and (--sm-viewport) {
  .snack-img {
    width: 200px;
    height: 160px;
  }
}

@media only screen and (--md-viewport) {
  .snack-img {
    width: 170px;
  }
}
